<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsofen.onthegoshopClient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DriverViews.DriverNewProduct"></activity>
        <activity android:name=".DriverViews.DriverNavigate" />
        <activity android:name=".DriverViews.VanStorage" />
        <activity android:name=".DriverViews.DriverMain" />
        <activity android:name=".ManagerViews.MangerDriverDetails" />
        <activity android:name=".UserViews.OrderDetails" />
        <activity android:name=".UserViews.OrderMapActivity" />
        <activity
            android:name=".UserViews.UserMainView"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ManagerViews.ManagerDrivers" />
        <activity android:name=".ManagerViews.ManagerMain" />
        <activity android:name=".ManagerViews.ManagerOrders" />
        <activity android:name=".ManagerViews.ManagerStorage" />
        <activity android:name=".ManagerViews.ManagerUsers" />
        <activity android:name=".ManagerViews.ManagerVans" />
        <activity android:name=".ManagerViews.NewProduct" />
        <activity android:name=".ManagerViews.NewDriver" />
        <activity android:name=".Register.register" />
        <activity android:name=".LogIn.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <service
            android:name=".BackgroundServices.LocationService"
            android:stopWithTask="true" />
    </application>

</manifest>